.itemDetail {
    position: relative;
    top: auto;
    left: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 4rem;
}

.itemDetail img{
    margin: 15px;
}

.itemDetail .details{
    padding: 5px 5px;
    margin: 10px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details h2{
    font-size: 50px;
}

.details .description{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}
.details span {
    margin: 10px;
    font-size: 33px;
}

/* CSS */
.purchaseButton {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.purchaseButton:hover,
.purchaseButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.purchaseButton:hover {
  transform: translateY(-1px);
}

.purchaseButton:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}