.item-product {
    width: 70%;
    height: auto;
    box-shadow: 5px 5px 10px #50505047;
    border: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    background-color: #fff;
    animation: fadeIn 0.5s linear;
}

.item-product h2{
  font-size: 30px;
  font-weight: 600;
}

.item-product img{
  width: 252px;
  height: 420px;
  margin: 15px;
  border-style: groove;
  border-color: #000000;
  border-width: 2px;
}

.item-product .cover {
    width: 100%;
    height: auto;
    margin-top: 20px;
    max-width: 300px;
    max-height: 500px;
}

.item-product .paymentOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.item-product .paymentOptions p {
  display:flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
  padding: 13px;
  margin: 5px 3px;
  line-height: 16px;
  width: 143px;
  border-radius: 35px;
  text-align: center;
  background: #00a650;
  color: white;
}


.button-info {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    margin: 12px;
  }
  
  .button-info:disabled {
    pointer-events: none;
  }
  
  .button-info:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-info:active {
    box-shadow: none;
    transform: translateY(0);
  }