.item-product {
    float: left;
    width: 25%;
    box-shadow: 1px 1px 5px #afafaf47;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
}

.item-product .cover {
    width: 100%;
    height: auto;
    margin-top: 20px;
    max-width: 300px;
    max-height: 500px;
}

.item-product button {
    padding: 10px 60px;
}