.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    color: #ff3b3b;
    text-decoration: none;
}

.cart h2{
    color: #000;
    font-family: 'Mangat', sans-serif;
    font-weight: 600;
}

.cart h3{
    color: #000;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 760px;

}

.cart button{
    margin-top: 20px;
    margin-left: 760px;
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    max-width: 140px;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.cart button:hover,
.cart button:focus {
  opacity: .75;
}

.cartProductInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    color: #000;
}

.cartProductInfo h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 520px;
}

.cartProductInfo button{
    margin-top: 20px;
    margin-left: 500px;
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    max-width: 140px;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.cartProductInfo button:hover,
.cartProductInfo button:focus {
  opacity: .75;
}

.purchaseDetails {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
}

.purchaseDetails span {
    margin: 0.7rem;
}

.cartProductCard {
    display: flex;
    justify-content: space-between;
    margin: 1.3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 2px 10px 30px;
}

.cartProductCard img {
    margin-top: 50px;
    margin-left: 50px;
    width: auto;
    height: 300px;
}

.cartEmpty{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cartEmpty h2{
    margin-top: 200px;
}

.cartEmpty img {
    margin-top: 320px;
}

.cartForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 140px;
}

.cartForm input{
    width: 200px;
    margin: 0.8rem;
}

.cartForm button{
    margin: 1rem;
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    max-width: 200px;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.cartForm button:hover,
.cartForm button:focus {
  opacity: .75;
}

.purchaseComplete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.purchaseComplete h2{
    font-size: 30px;
    font-weight: 600;
}

.purchaseComplete h3 {
    font-size: 22px;
    margin-top: 60px;
    padding: 20px 5px;
}

.purchaseComplete img {
    width: 400px;
    height: 400px;
    margin-right: 20px;
}