@font-face {
    font-family: 'Mangat';
    src: url(../../assets/fonts/mangat.ttf);
}

.title{
    font-family: 'Mangat', sans-serif;
}

.logo{
    width: 70px;
    text-align: center;
    display: inline;
    border-radius: 50%;
    line-height: 50px;
    margin-right: 2rem;
}