.counterProduct{
    display: flex;
    align-content: center;
    align-items: center;
}

.plus,
.minus {
    margin: 0 12px;
}

.productStock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-cart {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  margin-bottom: 12px;
}

.button-cart:disabled {
  pointer-events: none;
}

.button-cart:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-cart:active {
  box-shadow: none;
  transform: translateY(0);
}
